html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-color: #6b83e2;
  background-image: url('https://www.transparenttextures.com/patterns/batthern.png');
}
