.header {
  height: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.user-avatar {
  align-self: flex-end;
  margin-right: 0.5rem;
}
